.fish {
    display:flex;
    flex-direction: row;
}

.fish-collection {
    display:flex;
    flex-direction: row;
}

   
.fish-list {
    width: 300px;
  border: 5px solid rgb(38, 0, 128);
  padding: 50px;
  margin:50px
}

.location-traveltips {
    width: 300px;
    border: 5px solid rgb(38, 0, 128);
    padding: 50px;
    margin:50px;
    display:flex;
    flex-direction:column;
}



.location1 {
    width: 300px;
    border: 5px solid rgb(38, 0, 128);
    padding: 50px;
    margin:50px;
   
}





.fish-title {
    display:flex;
    justify-content: center;
}

.fish1 {
    display:flex;
    flex-direction:row;
    border: 5px solid rgb(38, 0, 128);
    
}

.fish2 {
    display:flex;
    flex-direction:row;
    border: 5px solid rgb(38, 0, 128);
}

.fish3 {
    display:flex;
    flex-direction:row;
    border: 5px solid rgb(38, 0, 128);
}

.main-collection {
   display:flex;
   flex-direction:row; 
}